@model IEnumerable<odonto.Models.ENFERMEDAD>

@{
    ViewBag.Title = "Index";
}

<h2>Enfermedad</h2>

<p>
    @Html.ActionLink("Nueva Enfermedad", "Create")
</p>
<table id="table-enfemedad" style="text-align:center;" class="table table-striped table-bordered datatable" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th style="text-align: center;">
                Nombre
            </th>
            <th style="text-align: center;">
                Descripcion
            </th>
            <th style="text-align: center;">
                Tipo
            </th>
            <th></th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th style="text-align: center;">
                Nombre
            </th>
            <th style="text-align: center;">
                Descripcion
            </th>
            <th style="text-align: center;">
                Tipo
            </th>
            <th></th>
        </tr>
    </tfoot>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NOMBRE)
                </td>
                <td>
                    @(item.DESCRIPCION == null? "-": item.DESCRIPCION)
                </td>
                <td>
                   @(item.TIPO.Trim() == "E"? "Enfermedad" : "Alergia")
                </td>
                <td style="width: 76px;">
                    <a href="/ENFERMEDAD/Edit/@item.ID" style="color:#190;"><i class="glyphicon glyphicon-pencil"></i></a>
                    <a href="/ENFERMEDAD/Details/@item.ID"><i class="glyphicon glyphicon-search"></i></a>
                    <a href="/ENFERMEDAD/Delete/@item.ID" style="color:#e11;"><i class="glyphicon glyphicon-remove"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
